:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0 auto;
  display: flex;
  place-items: center;
  width: calc(100vw - 4em);
  max-width: 1280px;
  min-height: 100vh;
  padding: 2em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ddd;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  border: 1px solid #666;
  margin: 0 auto;
  margin-bottom: 10px;
}
.table th, .table td {
  padding: 8px;
}
.table th {
  background-color: #000;
  color: #fff;
}

.table tr:nth-child(even) {
  background-color: #111;
}

.table tr:hover {
  background-color: #444;
}

.page-number {
  color: #fff;
}

@media (prefers-color-scheme: light) {
  .table {
    border: 1px solid #aaa;
  }
  .table tr:nth-child(even) {
    background-color: #eee;
  }
  .table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .table th {
    background-color: #fff;
    color: #000;
  }
  .table tr:hover {
    background-color: #f9f9f9;
  }
  .page-number {
    color: #000;
  }
}

.checkbox {
  width: 5%;
}
.job-title {
  width: 70%;
  text-align: left;
}

.employment-change {
  width: 20%;
  text-align: right;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-numbers {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .pagination-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .page-numbers {
    padding-bottom: 20px;
  }
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #666;
  background-color: #000;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #1075c0;
}

.menu {
  height: 100vh;
}