.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-numbers {
  width: 200px;
}
@media (max-width: 768px) {
  .page-numbers {
    width: 180px;
  }
  .page-number {
    font-size: 0.8em;
    padding: 0.25em;
  }
}
.page-number {
  color: #fff;
}
@media (prefers-color-scheme: light) {
  .page-number {
    color: #000;
  }
}
