.table {
  width: 100%;
  margin-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #333;
}

table {
  border-radius: 6px;
  -moz-border-radius: 6px;
}

th:first-child {
  border-top-left-radius: 6px;
}
th:last-child {
  border-top-right-radius: 6px;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.table th,
.table td {
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.table th {
  background-color: #000;
  color: #fff;
}
.table tr:nth-child(even) {
  background-color: #111;
}
.table tr:hover {
  background-color: #444;
}
.job-title {
  width: 70%;
  text-align: left;
}
@media (max-width: 768px) {
  .table {
    font-size: 0.8em;
  }
  .table th {
    padding: 0.25em;
  }
  .table td {
    padding: 0.25em;
  }
}
@media (prefers-color-scheme: light) {
  .table {
    border: 1px solid #ddd;
  }
  .table tr:nth-child(even) {
    background-color: #eee;
  }
  .table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .table th {
    background-color: #fff;
    color: #000;
  }
  .table tr:hover {
    background-color: #f9f9f9;
  }
  .page-number {
    color: #000;
  }
}
.checkbox {
  width: 5%;
}
.employment-change {
  width: 7%;
  text-align: right;
}
